<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/meta.ejs") %>
    <title>Eventhub | Edit Event</title>
    <link rel="stylesheet" href="/all.css" />
    <link rel="stylesheet" href="/newEvent.css" />
  </head>
  <body>
    <%- include("partials/navbarOrganiser.ejs") %>
    <main>
      <div class="container">
        <h1>Edit Event Details</h1>
        <form action="/dashboard/<%= eventData._id %>/edit?_method=PATCH" method="post" enctype="multipart/form-data">
          <div class="info1">
            <div class="basic-info">
              <h3>Basic Information</h3>
              <label for="ename">
                <input
                  type="text"
                  name="ename"
                  id="ename"
                  placeholder="Event Name"
                  class="form-elements"
                  value="<%= eventData.name %>"
                  required
                />
              </label>
              <br />
              <label for="edesc">
                <textarea
                  name="edesc"
                  id="edesc"
                  placeholder="Description of your event"
                  class="form-elements"
                  required
                >
<%= eventData.desc %></textarea
                >
              </label>
              <fieldset class="form-elements">
                <legend>Event Image</legend>
                <label for="img">
                  <img
                    src="data:<%= eventData.img.contentType %>;base64,<%= eventData.img.data.toString('base64') %>"
                    alt="Event Image"
                    style="max-width: 100%; max-height: 100px"
                  />
                  <input
                    type="file"
                    name="uploadedImage"
                    id="img"
                    accept="image/*"
                  />
                </label>
              </fieldset>
            </div>
            <div class="complete-address">
              <h3>Address</h3>
              <label for="address">
                <textarea
                  name="address"
                  id="address"
                  placeholder="Address"
                  class="form-elements"
                  required
                >
<%= eventData.location.area %></textarea
                >
              </label>
              <label for="landmark">
                <input
                  type="text"
                  name="landmark"
                  id="landmark"
                  placeholder="Landmark"
                  class="form-elements"
                  value="<%= eventData.location.landmark %>"
                />
              </label>
              <label for="city">
                <input
                  type="text"
                  name="city"
                  id="city"
                  placeholder="City"
                  class="form-elements"
                  value="<%= eventData.location.city %>"
                  required
                />
              </label>
              <label for="state">
                <input
                  type="text"
                  name="state"
                  id="state"
                  placeholder="State"
                  class="form-elements"
                  value="<%= eventData.location.state %>"
                  required
                />
              </label>
              <label for="pincode">
                <input
                  type="number"
                  name="pincode"
                  id="pincode"
                  placeholder="Pincode"
                  class="form-elements"
                  value="<%= eventData.location.pincode %>"
                  required
                />
              </label>
            </div>
          </div>
          <div class="info2">
            <div class="category">
              <h3>Category</h3>
              <div class="inner-category form-elements">
                <label for="sports">
                  <input type="radio" id="sports" value="sports" name="category"
                  <% if (eventData.category === 'sports') { %>checked<% } %> />
                  Sports
                </label>
                <label for="technology">
                  <input type="radio" id="technology" value="technology"
                  name="category" <% if (eventData.category === 'technology') {
                  %>checked<% } %> /> Technology
                </label>
                <label for="arts">
                  <input type="radio" id="arts" value="arts" name="category" <%
                  if (eventData.category === 'arts') { %>checked<% } %> /> Arts
                </label>
                <br />
                <label for="music">
                  <input type="radio" id="music" value="music" name="category"
                  <% if (eventData.category === 'music') { %>checked <% } %> />
                  Music
                </label>
                <label for="education">
                  <input type="radio" id="education" value="education"
                  name="category" <% if (eventData.category === 'education') {
                  %>checked<% } %> /> Education
                </label>
                <label for="history">
                  <input type="radio" id="history" value="history"
                  name="category" <% if (eventData.category === 'history') {
                  %>checked<% } %> /> History
                </label>
              </div>
            </div>
            <div class="date-time">
              <h3>Date & Time</h3>
              <div class="inner-date-time form-elements">
                <div class="fe-date">
                  <label for="from">
                    From:
                    <input
                      type="date"
                      name="from"
                      id="from"
                      oninput="setToDateConstraints()"
                      min="<%= new Date().toISOString().split('T')[0] %>"
                      value="<%= eventData.from %>"
                      required
                    />
                  </label>
                  <label for="to">
                    To:
                    <input
                      type="date"
                      name="to"
                      id="to"
                      min="<%= new Date().toISOString().split('T')[0] %>"
                      value="<%= eventData.to %>"
                      disabled
                      required
                    />
                  </label>
                </div>
                <div class="fe-time">
                  <label for="time"
                    >Event Time:
                    <input
                      type="time"
                      id="time"
                      name="time"
                      value="<%= eventData.time %>"
                      required
                    />
                  </label>
                </div>
              </div>
            </div>
            <div class="ticket-info">
              <h3>Ticket Information</h3>
              <label for="ticketcount">
                <input
                  type="number"
                  name="ticketcount"
                  id="ticketcount"
                  placeholder="Number of Tickets"
                  class="form-elements"
                  value="<%= eventData.tickets %>"
                />
              </label>
              <label for="ticketprice">
                <input
                  type="number"
                  name="ticketprice"
                  id="ticketprice"
                  placeholder="Ticket Price"
                  class="form-elements"
                  value="<%= eventData.ticketPrice %>"
                />
              </label>
            </div>
            <button type="submit" class="form-elements">
              Update Event Details
            </button>
          </div>
        </form>
      </div>
    </main>
    <script src="/navbar.js"></script>
    <script src="/createEditEvent.js"></script>
  </body>
</html>
