<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/meta.ejs") %>
    <title>Eventhub | <%= eventData.name %></title>
    <link rel="stylesheet" href="/all.css" />
    <link rel="stylesheet" href="/showEvent.css" />
  </head>
  <body>
    <%- include("partials/navbarOrganiser.ejs") %>
    <main>
      <div class="msg-wrapper">
        <form action="/send-text-msg" method="post">
          <textarea name="textMsg" id="text-msg"></textarea>
          <button>Send Message</button>
          <div class="action-btn-private-events">
            <form action="/edit-private-event" method="post">
                <button id="edit-private-event">Edit</button>
            </form>
            <form action="/delete-private-event/<%= eventData._id %>?_method=DELETE" method="post">
                <button id="delete-private-event">Delete</button>
            </form>
          </div>
        </form>
      </div>
      <div class="info-wrapper">
        <div class="title">
          <h1><%= eventData.name %></h1>
        </div>
        <hr />
        <div class="body">
          <div class="desc">
            <h3>Description</h3>
            <p><%= eventData.desc %></p>
          </div>
          <div class="type">
            <h3>Category</h3>
            <div>Private Event</div>
          </div>
          <div class="date-time">
            <h3>Date & Time</h3>
            <% if (eventData.from === eventData.to) { %>
            <div class="from">
              Date:<%= eventData.from.toLocaleDateString() %>
            </div>
            <% } else { %>
            <span class="from"
              >From: <%= eventData.from.toLocaleDateString() %></span
            >
            <span class="to">To: <%= eventData.to.toLocaleDateString() %></span>
            <% } %> <% if (eventData.time) { %>

            <div class="time">Time:<%= eventData.time %></div>
            <% } %>
          </div>

          <div class="location">
            <h3>Address</h3>
            <div>
              <%= eventData.location.area %> , <%= eventData.location.landmark
              %>
            </div>
            <div>
              <%= eventData.location.city %>, <%= eventData.location.pincode %>
            </div>
            <p><%= eventData.location.state %></p>
          </div>
          <div class="mobile-numbers">
            <h3>Mobile Numbers</h3>
            <% for(let i = 0; i < eventData.mobileNumbers.length; i++) { %>
              <span>
                <%= eventData.mobileNumbers[i] %>
                <% if(i !== eventData.mobileNumbers.length - 1) { %>
                  ,
                <% } %>
              </span>
            <% } %>
          </div>
        </div>
      </div>
    </main>
    <%- include("partials/footer.ejs") %>
    <script src="/navbar.js"></script>
  </body>
</html>
